// 选中时默认样式
.vue-flow__node.selected {
  .ant-card {
    border: 1px solid rgb(33 150 243);
  }

  .vue-flow__handle {
    background: rgb(33 150 243);
  }
}
// 修改默认handle按钮大小
.vue-flow__handle {
  z-index: 999;
  width: 10px;
  height: 10px;
}
